[submodule "dependencies/kubernetes"]
	path = dependencies/kubernetes
	url = https://github.com/k8s-live-migration-AY2526/kubernetes.git
[submodule "dependencies/cri-o"]
	path = dependencies/cri-o
	url = https://github.com/k8s-live-migration-AY2526/cri-o.git
[submodule "dependencies/runc"]
	path = dependencies/runc
	url = https://github.com/k8s-live-migration-AY2526/runc.git
[submodule "dependencies/descheduler"]
	path = dependencies/descheduler
	url = https://github.com/k8s-live-migration-AY2526/descheduler.git
